.u-block-1e29-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-1e29-3 {
  position: absolute;
  left: 0;
}

.u-block-1e29-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g463f5dc6cf4e14e9688b894717f6c3cb90fdded0f3dc5364a9cd26af8f0e2ca172de2503cdb9b89dd0d680235a4398adb6d2a952ebca4ae55db03ce129e17f3b_1280.jpg");
  background-position: 50% 50%;
  min-height: 738px;
}

.u-section-1-1 .u-shape-1 {
  height: 556px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -496px auto 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 678px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 215px 0 0;
}

.u-section-1-1 .u-text-2 {
  font-family: Poppins;
  margin: 25px -25px 0 25px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    min-height: 891px;
  }

  .u-section-1-1 .u-shape-1 {
    height: 585px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 275px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: -6px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -447px;
    margin-bottom: 60px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 393px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 96px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-1-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 96px;
    margin-left: 118px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 1045px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 488px;
    order: 0;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-text-2 {
    width: 379px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 1152px;
  }

  .u-section-1-1 .u-shape-1 {
    height: 675px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 434px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-1 .u-text-2 {
    width: 239px;
    margin-top: 40px;
    margin-bottom: -13px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g03c5795419b9ae31c82a1d9ba07e663f088815b1600341f466349a4033abd6150594b75878f248bf03488c8600b8fa89de622196197b03efb93a87b8af456770_1280.jpg");
  background-position: 50% 50%;
  min-height: 738px;
}

.u-section-1-2 .u-shape-1 {
  height: 556px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -496px auto 0;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 678px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-2 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 215px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-family: Poppins;
  margin: 25px -25px 0 25px;
}

@media (max-width: 1199px) {
   .u-section-1-2 {
    min-height: 891px;
  }

  .u-section-1-2 .u-shape-1 {
    height: 585px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 270px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: -6px;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
   .u-section-1-2 {
    min-height: 731px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
   .u-section-1-2 {
    min-height: 1045px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
   .u-section-1-2 {
    min-height: 1152px;
  }

  .u-section-1-2 .u-shape-1 {
    height: 675px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1-2 .u-text-2 {
    width: 239px;
    margin: 36px auto -8px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/g427565d11339471e6886e373328097f8b46aa3c6ff4b45f664cf1e0b486c6324d72d87cd2d8d8f7aff70a01c827fe2aa1487672b20b5f7d090000882784d150a_1280.jpg");
  background-position: 50% 50%;
  min-height: 738px;
}

.u-section-1-3 .u-shape-1 {
  height: 556px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -496px auto 0;
}

.u-section-1-3 .u-layout-cell-1 {
  min-height: 678px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-1-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: Poppins;
  margin: 215px 0 0;
}

.u-section-1-3 .u-text-2 {
  font-family: Poppins;
  margin: 25px -25px 0 25px;
}

@media (max-width: 1199px) {
   .u-section-1-3 {
    min-height: 891px;
  }

  .u-section-1-3 .u-shape-1 {
    height: 585px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 742px;
  }

  .u-section-1-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1-3 {
    min-height: 731px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-1-3 {
    min-height: 1045px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    order: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    min-height: 1152px;
  }

  .u-section-1-3 .u-shape-1 {
    height: 675px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 862px;
}

.u-section-2 .u-text-1 {
  font-family: Poppins;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 104px 401px 0 454px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 57px 70px 0 492px;
}

.u-section-2 .u-image-1 {
  width: 438px;
  height: 438px;
  background-image: url("images/120949438_3686405488038671_3519029201352493779_n.png");
  background-position: 50% 50%;
  margin: -507px auto 70px 16px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 82px;
    margin-right: 300px;
    margin-left: 355px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 82px;
    margin-right: 0;
    margin-left: 393px;
  }

  .u-section-2 .u-image-1 {
    width: 380px;
    height: 380px;
    margin-top: -461px;
    margin-bottom: 81px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1161px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 190px;
    margin-left: 245px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 488px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -818px;
    margin-bottom: 60px;
    margin-left: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1172px;
  }

  .u-section-2 .u-text-1 {
    width: 285px;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 444px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: -879px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1323px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 27px;
    margin-right: -52px;
    margin-left: 107px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 449px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1092px;
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 484px;
}

.u-section-3 .u-list-1 {
  margin-top: 40px;
  margin-bottom: 56px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 388px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  text-decoration: underline !important;
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  text-decoration: underline !important;
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  text-decoration: underline !important;
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 26px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  text-decoration: underline !important;
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  margin: 26px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 318px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 1002px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 628px;
}

.u-section-4 .u-group-1 {
  width: 1017px;
  min-height: 554px;
  height: auto;
  margin: 37px auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 16px 0 29px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: 8px;
  font-family: Poppins;
  font-weight: 700;
  width: 413px;
  margin: 1px auto 0;
}

.u-section-4 .u-text-2 {
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  text-transform: uppercase;
  width: 706px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-3 {
  line-height: 2;
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 54px 31px 0 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 64px;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
    min-height: 918px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 16px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 262px;
    margin-top: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 1006px;
  }

  .u-section-4 .u-text-1 {
    width: 259px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 44px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1395px;
}

.u-section-5 .u-gallery-1 {
  height: 1126px;
  grid-gap: 17px;
  margin: 60px auto;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-gallery-item-1 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-2 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-3 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-4 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-5 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-6 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-7 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-8 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

.u-section-5 .u-gallery-item-9 {
  --effect-scale: 1.25;
}

.u-section-5 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45));
  padding: 50px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1196px;
  }

  .u-section-5 .u-gallery-1 {
    height: 928px;
    grid-template-columns: repeat(3, auto);
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2045px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1777px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 5066px;
  }

  .u-section-5 .u-gallery-1 {
    height: 4798px;
    grid-template-columns: repeat(1, auto);
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3289px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3021px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 574px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 58px;
  margin-bottom: 1px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 515px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-form-1 {
  width: 510px;
  height: 371px;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 0 -76px 0 0;
}

.u-section-6 .u-label-4 {
  width: 100px;
}

.u-section-6 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  padding-left: 60px;
  padding-right: 60px;
  text-transform: uppercase;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 289px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 24px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  font-weight: 900;
  margin: 73px 0 0 12px;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  letter-spacing: 3px;
  line-height: 1.8;
  margin: 10px 0 0 72px;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: -108px auto 0 12px;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-social-icons-2 {
  white-space: nowrap;
  height: 50px;
  min-height: 16px;
  width: 50px;
  min-width: 16px;
  margin: 22px auto 0 12px;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 218px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  margin: 33px 24px 0 36px;
}

.u-section-6 .u-social-icons-3 {
  white-space: nowrap;
  height: 35px;
  min-height: 16px;
  width: 329px;
  min-width: 232px;
  margin: 14px auto 0 36px;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-icon-6 {
  height: 100%;
}

.u-section-6 .u-icon-7 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 425px;
  }

  .u-section-6 .u-form-1 {
    width: 441px;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: -38px;
    margin-left: 86px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -109px;
    margin-left: 24px;
  }

  .u-section-6 .u-social-icons-2 {
    margin-top: 9px;
    margin-left: 24px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 180px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-right: -24px;
    margin-left: 24px;
  }

  .u-section-6 .u-social-icons-3 {
    width: 327px;
    margin-top: 13px;
    margin-left: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 513px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin: 52px auto 7px -42px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-form-1 {
    width: 324px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 21px;
    margin-right: -63px;
    margin-left: 63px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: -108px;
    margin-left: 0;
  }

  .u-section-6 .u-social-icons-2 {
    margin-top: 8px;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-social-icons-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-form-1 {
    width: 520px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 10px;
    margin-right: -72px;
    margin-left: 72px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 928px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 56px;
    margin-bottom: 2px;
    width: 340px;
  }

  .u-section-6 .u-form-1 {
    width: 320px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 8px;
    padding-bottom: 44px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.625rem;
    margin-top: 19px;
    margin-right: -52px;
    margin-left: 52px;
  }

  .u-section-6 .u-social-icons-1 {
    height: 43px;
    width: 43px;
    margin-top: -93px;
  }

  .u-section-6 .u-social-icons-2 {
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-social-icons-3 {
    margin-top: 12px;
  }
}